<div class="about">
    <div class="image">
        <img id="myImg" src="/me.PNG" alt="mypic">
        <div class="shadow"></div>
    </div>
    <div class="about-box">
        <p id="college">
            I'm a student at Ramaiah Institute of Technology, 
        </p>
        <p id="second">B.E ISE, 2nd Year<br></p>
        <p id="me">I'm an extremely passionate Full Stack Developer. I'm also a prolific debater, a guitarist and a football enthusiast.</p><br>
        <p id="prog">
            I have authored a number of Tutorial Articles at GeeksForGeeks. Some of my Favourites are : 
            <ul id="articleList">
            <li> Javascript : 
            <ul>
                <li><a rel="noopener noreferrer" target="_blank" href="https://www.geeksforgeeks.org/native-mongodb-driver-for-node/" class="article"> Native Mongo Driver for NodeJS tutorial, GeeksForGeeks</a></li>
                <li><a rel="noopener noreferrer" target="_blank" href="https://www.geeksforgeeks.org/how-to-return-the-response-from-an-asynchronous-call-in-javascript/" class="article"> Handling Asynchronous Calls in JS, GeeksForGeeks</a></li>
                <li><a rel="noopener noreferrer" target="_blank" href="https://www.geeksforgeeks.org/what-is-chaining-in-node-js/" class="article"> Chaining in NodeJS, GeeksForGeeks</a></li>
                <li><a rel="noopener noreferrer" target="_blank" href="https://www.geeksforgeeks.org/how-to-post-a-file-from-a-form-with-axios/" class="article"> Using Axios, GeeksForGeeks</a></li>
            </ul>
            </li>
            <li>
                Go Language :
                <li><a href="https://www.geeksforgeeks.org/reflection-in-golang/" class="article"> Reflection in Go Lang, GeeksForGeeks</a></li>
                <li><a href="https://www.geeksforgeeks.org/composition-in-golang/" class="article"> Composition in Go Lang, GeeksForGeeks</a></li>
            </li>
            <li>
                Python :
                <li><a href="https://www.geeksforgeeks.org/python-functools-update_wrapper/" class="article"> Python functools updateWrapper(), GeeksForGeeks</a></li>
                <li><a href="https://www.geeksforgeeks.org/python-mongodb-drop_index-query/" class="article"> Python Mongodb Driver drop_index method, GeeksForGeeks</a></li>
            </li>
            </ul>
            Other than the above, I'm fluent in C++ and C. I practice Data Structures and Algorithms,on a weekly basis. Check out my <a href="https://github.com/tirth0/practice" class="dsa">repository</a> if you want to join me.
            
        </p>
    </div>
</div>