<div class="btnlist">
    <a href="https://github.com/tirth0" rel="noopener noreferrer" target="_blank" id="github" class="socials"><i class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/tirtharaj-sengupta-5953621a1/" rel="noopener noreferrer" target="_blank" id="linkedIn" class="socials"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.hackerrank.com/tirtharajsengup1" rel="noopener noreferrer" target="_blank" id="hackerrank" class="socials"><i class="fab fa-hackerrank"></i></a>
</div>