
<div class="experience">
    <p id="lead">B.E,Information Science</p>
    <p id="secondary">2nd Year, MSRIT Bangalore</p>
    <br>
    <p id="secondary">CGPA : 9.38</p>
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Academic Activities</p>
            <ul class="tasklist">
                <li class="space">Member of Google Developer Students Club</li>
                <li class="space">Member of CodeRIT, our very own coding community</li>
                <li class="space">Member of MSRIT IEEE Computational Intelligence Society</li>
            </ul>
        </li>
        <li class="li1">
            <p class="lilead">Extra Curriculars</p>
            <ul class="tasklist">
                <li class="space">
                    Member of MSRIT Literary and Debating Society
                </li>
                <li class="space">Member of MSRIT Theatre Club, Theatrix</li>
            </ul>
        </li>
    </ul></p>
</div>

<div class="experience">
    <p id="lead">Indian School Certificate</p>
    <p id="secondary">12th Standard, St.Xavier's Collegiate School, Kolkata</p>
    <br>
    <p id="secondary">Percentage : 95.75</p>
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Academic Activities</p>
            <ul class="tasklist">
                <li class="space">Courses : Physics, Chemistry, Maths, Computer Applications</li>
                <li class="space">Section Topper in 11th and 12th</li>
                <li class="space">Inter School Science Fest Coding Competition Coordinator</li>
            </ul>
        </li>
        <li class="li1">
            <p class="lilead">Extra Curriculars</p>
            <ul class="tasklist">
                <li class="space">
                    Board Member of School Debate Club, X'Calibre
                </li>
                <li class="space">Editor in Chief of School Newsletter, X'Litera</li>
            </ul>
        </li>
    </ul></p>
</div>

<div class="experience">
    <p id="lead" >Indian Certificate of Secondary Education</p>
    <p id="secondary">10th Standard, St.Xavier's Collegiate School, Kolkata</p>
    <br>
    <p id="secondary">Percentage : 95.75</p>
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Academic Activities</p>
            <ul class="tasklist">
                <li class="space">Courses : Physics, Chemistry, Maths, Computer Applications, History, Geography, Bengali</li>
                <li class="space">Section Topper from class 6 to 10</li>
            </ul>
        </li>
        <li class="li1">
            <p class="lilead">Extra Curriculars</p>
            <ul class="tasklist">
                <li class="space">
                    Participated and won in State Wide Debates
                </li >
                <li class="space">Participated and won in International MUNs</li>
            </ul>
        </li>
    </ul></p>
</div>

<div class="experience">
    <p id="lead" >Advanced Web Developer Bootcamp</p>
    <p id="secondary">Udemy</p>
    <br>
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Activities</p>
            <ul class="tasklist">
                <li class="space">Advanced Javascript with EcmaScript 6 and newer</li>
                <li class="space">Nodejs Server Side App Development</li>
                <li class="space">Complete React Course</li>
                <li class="space">Complete Redux Course</li>
                <li class="space">Developing RESTful interfaces using Node, express</li>
                <li class="space">Interacting with RESTFul services using AJAX</li>
                <li class="space">Native Javascript Web Token Authentication for Client Side Apps</li>
                <li class="space">Full Stack Application Development using MERN stack and JWT authentication</li>
            </ul>
        </li>
    </ul></p>
</div>

