
<div class="experience">
    
            <p id="lead">Ampius Industries <a rel="noopener noreferrer" href="https://github.com/tirth0/certificates/blob/main/ampiusCompletion.jpg" target="_blank"><i class="fas fa-link"></i></a></p>
            <p id="secondary">1<sup>st</sup>September, 2020 to 31<sup>st</sup>October, 2020</p>
            <p id="description"><ul>
                <li class="li1"> <p class="lilead">Tasks:</p>
                    <ul class="tasklist">
                        <li class="space">Full Stack Web Developer and developing a WebGIS service.</li>
                        <li class="space">Handle Database and design efficient queries.</li>
                        <li class="space">Add appreciable front end Design as per client requirements</li>
                        <li class="space">Work with third party APIs.</li>
                        <li class="space">Handle Bugs and fixes.</li>
                    </ul>
                </li>
                <li class="li1">
                    <p class="lilead">Tech Stack :</p>
                    <ul class="tasklist">
                        <li class="space">
                            NodeJs
                        </li>
                        <li class="space">ExpressJS</li>
                        <li class="space">MongoDB(Atlas) and mongoose.js</li>
                        <li class="space">OpenLayers</li>
                        <li class="space">Sentinel hub with sentinel-hub.js</li>
                    </ul>
                </li>
            </ul></p>
        
</div>
<div class="experience">
    <p id="lead">Geeks For Geeks <a rel="noopener noreferrer" href="https://auth.geeksforgeeks.org/user/tirtharajsengupta/articles" target="_blank"><i class="fas fa-link"></i></a> </p>
    <p id="secondary">26<sup>th</sup>March, 2020 to 8<sup>th</sup> December,2020</p>
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Tasks:</p>
            <ul class="tasklist">
                <li class="space">Research and write Tutorial articles on various subjects.</li>
                <li class="space">Subjects could be programming languages or CSE subjects.</li>
                <li class="space">Provide relevant examples to make subjects easy to grasp.</li>
            </ul>
        </li>
        <li class="li1">
            <p class="lilead">Topics Covered</p>
            <ul class="tasklist">
                <li class="space">
                    Front End Design(HTML,CSS,Javascript)
                </li>
                <li class="space">NodeJs and ES6 syntax</li>
                <li class="space">Ruby</li>
                <li class="space">MongoDB</li>
                <li class="space">Python</li>
                <li class="space">Go Language</li>
                <li class="space">Scala</li>
            </ul>
        </li>
    </ul></p>

</div>

<div class="experience">
    <p id="lead">Yehlo Software Solutions </p>
    <p id="secondary">14<sup>th</sup>,December 2020 to 14<sup>th</sup>February,2021</p>
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Tasks:</p>
            <ul class="tasklist">
                <li class="space">Developing Scalable React Components.</li>
                <li class="space">Integrating Components into reusable Software Pool.</li>
                <li class="space" >Maintaining and debugging deployment on Github-Pages.</li>
                <li class="space">Maintaining User profile and roles on Strapi.</li>
            </ul>
        </li>
        <li class="li1">
            <p class="lilead">Tech Stack</p>
            <ul class="tasklist">
                <li class="space">
                    Front End Design with ReactJs.
                </li>
                <li class="space">NodeJs and ES6 syntax for backend.</li>
                <li class="space">Strapi as a headless CMS provider.</li>
            </ul>
        </li>
    </ul></p>

</div>

<div class="experience">
    <p id="lead">Frontier Holdings Above and Beyond </p>
    <p id="secondary">14<sup>th</sup>,january 2021 to Present</p>
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Tasks:</p>
            <ul class="tasklist">
                <li class="space">Implementing an algorithmic Trading Strategy.</li>
                <li class="space">Backtesting the strategy on TradingView and Python</li>
                <li class="space">Developing a trading application easily accessible to retail investors</li>
                <li class="space">Maintaining User profile and roles on Strapi.</li>
            </ul>
        </li>
        <li class="li1">
            <p class="lilead">Tech Stack</p>
            <ul class="tasklist">
                <li class="space">
                    Python, Matplotlib Finance, Yahoo Finance
                </li>
                <li class="space">TradingView and Pinescript</li>
                <li class="space">Backtrader Python Framework</li>
            </ul>
        </li>
    </ul></p>

</div>