
<div class="experience">
    
            <p id="lead">Ampius Industries <a rel="noopener noreferrer" href="https://github.com/tirth0/certificates/blob/main/ampiusCompletion.jpg" target="_blank"><i class="fas fa-link"></i></a></p>
            <p id="secondary">1<sup>st</sup>,September 2020 to 31<sup>st</sup>,October 2020</p>
            <p id="description"><ul>
                <li class="li1"> <p class="lilead">Tasks:</p>
                    <ul class="tasklist">
                        <li>Full Stack Web Developer and developing a WebGIS service.</li>
                        <li>Handle Database and design efficient queries.</li>
                        <li>Add appreciable front end Design as per client requirements</li>
                        <li>Work with third party APIs.</li>
                        <li>Handle Bugs and fixes.</li>
                    </ul>
                </li>
                <li class="li1">
                    <p class="lilead">Tech Stack :</p>
                    <ul class="tasklist">
                        <li>
                            NodeJs
                        </li>
                        <li>ExpressJS</li>
                        <li>MongoDB(Atlas) and mongoose.js</li>
                        <li>OpenLayers</li>
                        <li>Sentinel hub with sentinel-hub.js</li>
                    </ul>
                </li>
            </ul></p>
        
</div>
<div class="experience">
    <p id="lead">Geeks For Geeks <a rel="noopener noreferrer" href="https://auth.geeksforgeeks.org/user/tirtharajsengupta/articles" target="_blank"><i class="fas fa-link"></i></a> </p>
    <p id="secondary">26<sup>th</sup>,March 2020 to Present</p>
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Tasks:</p>
            <ul class="tasklist">
                <li>Research and write Tutorial articles on various subjects.</li>
                <li>Subjects could be programming languages or CSE subjects.</li>
                <li>Provide relevant examples to make subjects easy to grasp.</li>
            </ul>
        </li>
        <li class="li1">
            <p class="lilead">Topics Covered</p>
            <ul class="tasklist">
                <li>
                    Front End Design(HTML,CSS,Javascript)
                </li>
                <li>NodeJs and ES6 syntax</li>
                <li>Ruby</li>
                <li>MongoDB</li>
                <li>Python</li>
                <li>Go Language</li>
                <li>Scala</li>
            </ul>
        </li>
    </ul></p>

</div>