<div class="intbox">
    <p>Currently pursuing a B.E degree in Information Science and Engineering, I aspire to be successful in the field of software development.
        
    </p>
    <br>
    <p>
        When I'm not coding, you will either find me participating in Parliamentary Debates or grinding hours in RPG games. To see my projects visit :
    </p>
</div>