
<div class="experience">
    <p id="lead">Praapti</p>
    <p id="secondary">CodeRIT hackathon </p>
    
    <p id="description"><ul>
        <li class="li1"> 
            <p>We aim to provide a Streamlined Infrastructure to help workers avail job opportunities. Our solution also incorporates an Inventory Management System,where land owners can manage their land assets with ease. We provide a Role based authentication model for the ease of access of our users.</p>
        </li>
        <br>
        <li class="li1">
            <p class="lilead">Tech Stack:</p>
            <ul class="tasklist">
                <li class="space">
                    ReactJs, NodeJs, ExpressJs, react-mapbox-gl and MongoDb, Sass
                </li>
            </ul>
        </li>
    </ul></p>
    <p><a class="article" href="https://github.com/42ip/praapti">Visit the Praapti Git Repository</a></p>
    <p><a class="article" href="https://yield-eight.vercel.app">Visit the Hosted Project</a></p>
</div>

<div class="experience">
    <p id="lead">Inventory Management </p>
    <p id="secondary">Personal Project</p>
    
    <p id="description"><ul>
        <li class="li1">
            An Inventory Management System that simulates an Ecommerce environment. Provides role based authentication for Buyers, Sellers and Super Admin. Buyers can view products and purchase them, Sellers are allowed to maintain an inventory of their products and the Super Admin has access to every inventory.
        </li>
        <br>
        <li class="li1">
            <p class="lilead">Tech Stack:</p>
            <ul class="tasklist">
                <li class="space">
                    NodeJs, ExpressJs, Embedded Javascript(EJS), passport-local and Oauth2, Html5 and CSS3, bootstrap UI
                </li>
            </ul>
        </li>
    </ul></p>
    <p><a class="article" href="https://github.com/tirth0/IMS"> Visit the Inventory Management Git Repository</a></p>
</div>

<div class="experience">
    <p id="lead" >Numerical Methods Calculator</p>
    <p id="secondary">Engineering Mathematics 4th Semester Project<br>(In development)</p>
    <br>
    
    <p id="description"><ul>
        <li class="li1"> <p class="lilead">Functionalities:</p>
            <ul class="tasklist">
                <li class="space">Newton Gregory Forward and Backward Interpolation</li>
                <li class="space">Newton Divided Differences Interpolation</li>
                <li class="space">Lagrange's Interpolation</li>
                <li class="space">Numerical Methods of Integration</li>
            </ul>
        </li>
        <li class="li1">
            <p class="lilead">Tech Stack:</p>
            <ul class="tasklist">
                <li class="space">
                    ReactJs, PolynomialJs, bootstrap UI
                </li >
            </ul>
        </li>
    </ul></p>
    <p><a class="article" href="https://github.com/tirth0/calculator"> Visit the Calculator Repository</a></p>
</div>

<div class="experience">
    <p id="lead" >Flag Guessing Game</p>
    <p id="secondary">Personal Project</p>
    <br>
    <p id="description"><ul>
        
            <p>Disappointed by the fact that Fun with Flags was only a fictional presentation from Big Bang Theory, I took it upon myself to give the activity a real life counterpart. Turned out to be a pretty neat React Project. Implements the REST countries API for randomly pulling Flag Data.</p>
            <br>
            <li class="li1"> <p class="lilead">Tech Stack:</p>
            
            <ul class="tasklist">
                <li class="space">ReactJs</li>
                <li class="space">REST countries Open API</li>
            </ul>
        </li>
    </ul></p>
    <p><a class="article" href="https://github.com/tirth0/funwflags"> Visit the Fun With Flags Repository</a></p>
</div>

<div class="experience">
    <p id="lead" >Generative Art</p>
    <p id="secondary">Personal Project (In Development)</p>
    <br>
    <p id="description"><ul>
        
            <p>The paradigm of Generative Art infinitely beautiful and rewarding. After reading about Chaos theory and watching a presentation by the Author of Playing with Chaos, I decided to indulge myself into the world of algorithmic art. The randomised generations resemble nature uncannily. I find great interest in this subject.</p>
            <br>
            <li class="li1"> <p class="lilead">Tech Stack and Algorithms:</p>
            
            <ul class="tasklist">
                <li class="space">Html5,CSS3,Html Canvas</li>
                <li class="space">Particle Systems</li>
                <li class="space">Fractal Generation</li>
            </ul>
        </li>
    </ul></p>
    <p><a class="article" href="https://github.com/tirth0/generative_art"> Visit the Generative Art Repository</a></p>
    <p><a class="article" href="https://tirth0.github.io/generative_art/"> Visit the Hosted Project</a></p>
</div>

<div class="experience">
    <p id="lead" >React Three Fiber and Me</p>
    <p id="secondary">Personal Project(In Development)</p>
    <br>
    <p id="description"><ul>
        
            <p>React Three Fiber is a wrapper of sorts for using ThreeJs with React. It is an extremely powerful tool that can be used to make wonderful UI and 3D animations. In my free time, I experiment how far I can push it's limits.</p>
            <br>
            <li class="li1"> <p class="lilead">Tech Stack</p>
            
            <ul class="tasklist">
                <li class="space">ReactJs</li>
                <li class="space">ThreeJs</li>
                <li class="space">React Three Fiber</li>
            </ul>
        </li>
    </ul></p>
    <p><a class="article" href="https://github.com/tirth0/threejs"> Visit the ThreeJs repository</a></p>
</div>
